div.guide {
  background-color: rgba(141, 134, 134);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

div.guide h1 {
  color: white;
  text-align: center;
  font-size: 28px;
  line-height: 180%;
  font-family: "Klee One", cursive;
}

div.message_frame {
  display: inline-block;
  position: fixed;
  top: 3px;
  padding: 12px 6px 0 5px;
  right: 15px;
  height: 60px;
  width: 60px;
}

div.message img {
  width: 65spx;
  height: 45px;
}
div.message_frame:hover {
  box-shadow: 0 5px 30px;
  border-radius: 50px;
}

div.message a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 6px;
  justify-content: center;
  align-items: center;
}

div.box {
  border: 3px solid grey;
  border-radius: 20px;
  height: 200px;
  width: 160px;
  background-color: rgb(180, 178, 178);
  margin: 10px 2px;
  padding: 6px;
  text-align: center;
}

div.box a {
  color: white;
  font-size: 18px;
  font-family: "Klee One", cursive;
  text-decoration: none;
}

div.box:hover {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}

div.box img {
  border-radius: 20px;
  flex-grow: 1;
  height: 170px;
  width: 160px;
}

/* 下拉式選單 */

div.toggled {
  position: fixed;
  z-index: 1000;
}

ul {
  margin-top: 0rem;
  padding: 0px;
  list-style: none;
}

ul.demo {
  border: rgb(141, 134, 134) 1px solid;
  display: inline-block;
  font-family: "open sans";
  font-size: 20px;
  margin-top: 1rem;
}

ul.demo li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid;
}

ul.demo > li:last-child {
  border-right: none;
}

ul.demo > li {
  float: left;
}

ul.demo a {
  background-color: #fff;
  color: #333;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  line-height: 40px;
  background-color: rgba(141, 134, 134, 0.8);
  font-size: 30px;
}

ul.demo a:hover {
  background-color: #ef5c28;
  color: #fff;
}

ul.demo li:hover > a {
  background-color: #ef5c28;
  color: #fff;
}

ul.demo ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  min-width: 100px;
}

ul.demo ul li {
  border-bottom: #ccc 1px solid;
}

ul.demo ul li:last-child {
  border-bottom: none;
}

ul.demo ul {
  display: none;
}

ul.demo li:hover > ul {
  display: block;
}

ul.demo li ul li a {
  text-align: center;
  font-size: 20px;
}

/* 下拉式選單 */

div.home {
  z-index: 1000;
  position: fixed;
  list-style: none;
  right: 10px;
  line-height: 430%;
}

div.home li a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bolder;
  color: #333;
  padding: 0 8px;
}

div.home li a:hover {
  background-color: #ef5c28;
}

div.pool {
  position: absolute;
  border: 1px solid black;
  display: flex;
  top: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  left: 0;
}
div.pool2 {
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 620px;
  width: 100%;
  height: 200px;
  left: 0;
}
